@import "tailwindcss";

:root {
  --background: #2C1A0E;
  --foreground: #1a0f07;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-source-sans-3);
  --font-serif: var(--font-lora);
}

body {
  background: #2C1A0E;
  font-family: var(--font-source-sans-3), Arial, sans-serif;
}
